streamlit
streamlit_chat
toml
requests 
tornado

langchain
langchain_community
#pymilvus # for vector database
faiss-gpu # (cpu) faiss-cpu

#llama-cpp-python
ollama
sentence-transformers # for embedding
openai

pypdf